<h1> Register </h1>
<form action="/register" method="POST">
    <div>
        EMAIL <input type="email" name="email">
    </div>
    <div>
        USERNAME <input type="text" name="username">
    </div>
    <div>
        PASSWORD <input type="password" name="password">
    </div>
    <button type="submit"> Submit </button>
</form>
<form action="/auth/google" method="GET">
    <button type="submit"> continue with google </button>
 </form>