<h1> Register </h1>
<form action="/register" method="POST">
    <div>
        USERNAME <input type="text" name="username" required>
    </div>  
    <div>
        PASSWORD <input type="password" name="password" required>
    </div>
    <button type="submit"> Submit </button>
</form>
<form action="/auth/google" method="GET">
    <button type="submit"> continue with google </button>
 </form>